@page "/"
@page "/{categoryUrl}"
@inject ICategoryAPI categoryService
@using EcommerceStore.Shared.Models

@* @if(Category!=null)
{
    <h5>Welcome to @Category.Name category</h5>
    <ProductListPage CategoryId="@Category.Id"></ProductListPage>
}
else
{
    <ProductListPage></ProductListPage>
} *@



<ProductListPage></ProductListPage>

@foreach(var cat in categoryService.Categories)
{
    <div class="fg-success-1">
        @cat.Name
    </div>
}
<a href="@($"/books")">books</a>
@code{
    [Parameter]
    public string CategoryUrl{get;set;}

    public Category Category = null;

    protected override async Task OnInitializedAsync()
    {
        await categoryService.LoadCategories();
    }
    // protected override void OnParametersSet()
    // {
    //     if (CategoryUrl != null)
    //     {
    //         Category = categoryService.Categories.FirstOrDefault(c => c.Url.ToLower().Equals(CategoryUrl.ToLower()));
    //     }
    // }

}