@* @page "/"
@page "/{categoryUrl}"
@inject ICategoryAPI categoryService
@using EcommerceStore.Shared.Models

<ProductListPage></ProductListPage>

@foreach(var cat in categoryService.Categories)
{
    <div class="fg-success-1">
        @cat.Name
    </div>
}
<a href="@($"/books")">books</a>
@code{
    [Parameter]
    public string CategoryUrl{get;set;}

    public Category Category = null;

    protected override async Task OnInitializedAsync()
    {
        await categoryService.LoadCategories();
    }
} *@