@page "/product/{id:int}"
@using EcommerceStore.Shared.Models
@inject IProductAPI products

<h3>ProductDetailsPage</h3>
<p>@Id</p>
<div>@product.Title</div>
@if (product.Editions != null && product.Editions.Count > 0)
{
    <div class="form-group">
        <select class="form-control">
            @foreach (var edition in product.Editions)
            {
                <option>@edition.Name</option>
            }
        </select>
    </div>
}
@code {
    [Parameter]
    public int Id{ get; set; }

    public Product product { get; set; }

    protected override async Task OnInitializedAsync()
    {
        product = await products.GetProductById(Id);
    }
}
